/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

body {
  background-color: rgb(14, 116, 175);
}

a, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul.lists li, ul.boards li {
  float: left;
  display: block;
  width: 200px;
  background-color: rgb(226, 228, 230);
  margin: 20px;
  border-radius: 5px;
}

ul.boards {
  height: 40px;
  a {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 5px;
  }
}

ul.boards li:hover {
  background-color: #cdd2d4;
}

ul.lists li {
  padding: 5px;
}

ul:after {
  display: block;
  content: "";
  clear: both;
}

form.new-list {
  padding: 5px 20px;
  margin: 0 auto;
}

div.title {
  font-weight: 600;
  font-size: 18px;
}
